<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>

<body>
    <div class="blur-container forgot-password-container">
        <h2>Forgot Password</h2>
        <form th:action="@{/forgot-password}" method="post">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Send OTP</button>
        </form>
        <!-- Modal box for error -->
        <div id="errorModal" class="modal" th:if="${error}">
            <div class="modal-content">
                <p th:text="${error}"></p>
            </div>
        </div>

    </div>

</body>

</html>