<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OTP Confirmation</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="otp-container">
        <h2>Enter OTP</h2>
        <form th:action="@{/verify-otp}" method="post">
            <input type="hidden" th:value="${email}" name="email">
            <input type="text" name="otp" placeholder="Enter OTP" required>
            <button type="submit">Verify</button>
        </form>

        <p th:if="${error}" th:text="${error}" style="color:red;"></p>
    </div>
</body>

</html>